menu "WiFi Connection Configuration"
  config WIFI_WOKWI_SIMULATOR
    bool "Wokwi Simulator"
    default false
    help
      Enable this option if you are using the Wokwi Simulator.

  config WIFI_CONNECTOR_SSID
    string "WiFi SSID"
    help
      Enter the SSID of the WiFi network you want to connect to.
  
  config WIFI_CONNECTOR_PASSWORD
    string "WiFi Password"
    help
      Enter the password of the WiFi network you want to connect to.
  
  config WIFI_CONNECTOR_HOSTNAME
    string "Hostname"
    default "esp32"
    help
      Enter the hostname of the device.

endmenu